@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

@inherits LayoutComponentBase


<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />
<MudLayout>

    <div class="page">
        <!-- Sidebar -->
        <div>
            <NavMenu />
        </div>

        <!-- Main Content Area -->
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>

</MudLayout>
