@using MudBlazor


@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Team Scrum Builder!</h1>

Welcome to your new app.
  
<br />
Admin or
<br />
1. User Management Screen./ Like Users / Add / Update / Delete.
<br />
2. Scrum Planner Screen. / Like Sprint Period / Release Date / Planned Items / Sprint Closer Date / No Of Priority Items.


<br />
View
<br />
1. Scrum Master / Yesterday / Risk / Today 

<MudText Typo="Typo.body1">
    This is a simple Blazor app to help you manage your Scrum process.</MudText>




